body {
    min-height: 130vh;
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

.court-container {
    margin: 0 auto;
}

footer {
    margin-top: auto;
}
